<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min-theme.min.css" />
  </head>
  <body>
  	<nav class="navbar navbar-default">
	  	<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/mikhail">Mikhail</a></li>
			<li><a href="/boris">Boris</a></li>
			<li><a href="/rita">Rita</a></li>
			<li><a href="/rachel">Rachel</a></li>
			<li><a href="/evelyn">Evelyn</a></li>
		</ul>
	</nav>